body {

}

.notloaded {
    display: none;
}

.loaded {
    display: block !important;
}

.control {
    text-align: right;
}

.newsItem {
    position: relative;
}

.tags {
    font-size: 0.9em;
    margin-left: 0;
    margin-right: 0;
}

.source {
    color: #999;
}
