<div ng-controller="PanelCtrl" class="row">
    <div class="well row tags">
        <div class="col-sm-1">
            <button type="button" ng-click="startParse()" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <div class="col-sm-11">
            <ul class="nav nav-pills notloaded"  ng-class="{'loaded': tags.length}">
                <li ng-repeat="item in tags" ng-class="{active: item.active}"><a href="#" ng-click="loadByTag(item)">{{item.name}} <span class="badge">{{item.total}}</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div style="display: none" ng-show="parseInProgress" class="progress progress-striped active" id="progressParse">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
             aria-valuemax="100" style="width: 100%">
        </div>
    </div>
</div>